* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media (min-width: 1600px) {
  html {
    font-size: 75%;
  }
}
@media (max-width: 900px) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 320px) {
  html {
    font-size: 45%;
  }
}

@font-face {
  font-family: "Product-Sans";
  src: url("../fonts/Product Sans Regular.ttf");
}
body {
  font-family: "Product-Sans";
  background-color: #131820;
  color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

a:link,
a:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

p {
  line-height: 1.6;
}

.rising-background {
  background-image: linear-gradient(to right, #fff, #fff);
  background-size: 0 0;
  background-position: 0 100%;
  background-repeat: repeat-x;
  transition: all 0.4s;
}
.rising-background:hover {
  color: #131820;
  background-size: 100% 100%;
}

.explore-button {
  position: relative;
  font-size: 2rem;
  margin-top: 5rem;
  padding: 2rem 8rem;
  cursor: pointer;
}

.explore-button::after {
  content: "";
  height: 95%;
  width: 95%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  filter: blur(3rem);
  opacity: 0.8;
}

.explore-button,
.explore-button::after {
  display: inline-block;
  color: rgba(255, 255, 255, 0.9);
  border-radius: 10rem;
  background: linear-gradient(-45deg, #ffa63d, #ff3d77, #338aff, #3cf0c5);
  background-size: 600%;
  -webkit-animation: gradient-animation 16s linear infinite;
  animation: gradient-animation 16s linear infinite;
}

.skeleton-background::before,
.skeleton-background::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 0.8rem;
  top: 0;
  left: 0;
}

.skeleton-background::before {
  z-index: 10;
  background-color: #222c39;
  animation: shimmer 2s infinite linear;
}

.skeleton-background::after {
  z-index: 5;
  background-color: #131820;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-shift {
  0% {
    background-position: 58% 50%;
  }
  25% {
    background-position: 100% 0%;
  }
  75% {
    background-position: 10% 50%;
  }
  100% {
    background-position: 58% 50%;
  }
}
@keyframes shimmer {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
.nav-link {
  font-size: 1.6rem;
}
@media (max-width: 600px) {
  .nav-link {
    font-size: 1.8rem;
  }
}
@media (max-width: 350px) {
  .nav-link {
    font-size: 1.6rem;
  }
}

.heading-primary {
  font-size: 5rem;
  font-weight: 400;
}

@media (max-width: 600px) {
  .section-about-me h1,
.section-projects h1 {
    font-size: 5.5rem;
  }
}

@media (max-width: 400px) {
  .section-skills h1 {
    font-size: 4.5rem;
  }
}

.paragraph {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.8rem;
  line-height: 1.8;
  text-align: left;
  margin-top: 2rem;
}
@media (max-width: 600px) {
  .paragraph {
    font-size: 2.2rem;
  }
}
@media (max-width: 400px) {
  .paragraph {
    font-size: 2rem;
  }
}

@media (max-width: 800px) {
  .section-about-me h1,
.paragraph {
    text-align: center;
  }
}

.copyright {
  font-size: 1.2rem;
}
@media (max-width: 600px) {
  .copyright {
    font-size: 1.4rem;
  }
}

.gradient-text {
  background: linear-gradient(264.51deg, #FFE580 4.38%, #FF7571 11.51%, #FF7270 25.06%, #EA5DAD 36.04%, #C2A0FD 47.63%, #9867F0 59.03%, #3BF0E4 69.96%, #33CE43 83.74%, #B2F4B6 95.62%);
  background-position: 58% 50%;
  background-size: 500%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-animation: gradient-shift 30s ease infinite;
  animation: gradient-shift 30s ease infinite;
  color: transparent;
}

header {
  position: relative;
  padding: 5rem 5rem 15rem;
  text-align: center;
  overflow-x: hidden;
}
@media (max-width: 900px) {
  header {
    padding: 5rem 5rem 20rem;
  }
}
@media (max-width: 500px) {
  header {
    padding: 5rem 0 20rem;
  }
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar {
  transition: all 0.4s;
}
@media (max-width: 1200px) {
  .navbar {
    transform: translateX(200%);
    opacity: 0;
  }
}

.nav-link {
  padding: 1.5rem 5rem;
  margin: 0 1rem;
}
@media (max-width: 1200px) {
  .nav-link {
    padding: 0;
    margin: 0 4rem;
  }
  .nav-link:hover {
    color: #fff;
    background-size: 0;
  }
}
@media (max-width: 800px) {
  .nav-link {
    margin: 0 3rem;
  }
}
@media (max-width: 500px) {
  .nav-link {
    margin: 0 2rem;
  }
}

.menu-button {
  position: relative;
  height: 6rem;
  width: 6rem;
  margin-left: 4rem;
  border-radius: 100%;
  transition-delay: 0.2s;
  transition: all 0.3s;
  display: none;
}
@media (max-width: 1200px) {
  .menu-button {
    display: inline-block;
  }
}
@media (max-width: 500px) {
  .menu-button {
    margin: 0 5rem 0 3rem;
  }
}
@media (max-width: 400px) {
  .menu-button {
    margin: 0 2rem;
  }
}
@media (max-width: 350px) {
  .menu-button {
    margin-right: 1rem;
  }
}
.menu-button::before {
  top: 40%;
}
.menu-button::after {
  top: 60%;
}

.menu-button::before,
.menu-button::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 2px;
  width: 4rem;
  background-color: #fff;
  transition: all 0.5s;
}

.menu-open {
  background-color: #fff;
}
.menu-open::before, .menu-open::after {
  width: 3rem;
  background-color: #000;
  top: 50%;
}
.menu-open::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.menu-open::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.navbar-open {
  transform: translateY(0);
  opacity: 1;
}

.hero-heading {
  margin-top: 12rem;
}
@media (max-width: 600px) {
  .hero-heading {
    padding: 3rem 3rem 0;
  }
}
@media (max-width: 350px) {
  .hero-heading {
    padding: 0 2rem;
  }
}

.code {
  fill: #fff;
  height: 7rem;
  vertical-align: middle;
}

@media (max-width: 600px) {
  .explore-button {
    margin-bottom: 3rem;
  }
}

.section-about-me {
  position: relative;
  padding: 10rem 15rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  column-gap: 10rem;
  background-color: #151b24;
}
@media (max-width: 1300px) {
  .section-about-me {
    column-gap: 8rem;
    padding: 10rem 12rem;
  }
}
@media (max-width: 1200px) {
  .section-about-me {
    padding: 10rem;
  }
}
@media (max-width: 1100px) {
  .section-about-me {
    column-gap: 5rem;
    padding: 10rem 8rem;
  }
}
@media (max-width: 1000px) {
  .section-about-me {
    column-gap: 2rem;
    padding: 10rem 5rem;
  }
}
@media (max-width: 800px) {
  .section-about-me {
    grid-template-columns: 1fr;
    row-gap: 5rem;
  }
}
@media (max-width: 700px) {
  .section-about-me {
    padding: 10rem 5rem;
  }
}
@media (max-width: 500px) {
  .section-about-me {
    padding: 8rem 3rem 10rem;
  }
}
.section-about-me img {
  width: 30rem;
  width: 75%;
  border-radius: 0.8rem;
}
@media (max-width: 800px) {
  .section-about-me img {
    width: 40rem;
  }
}
@media (max-width: 400px) {
  .section-about-me img {
    width: 95%;
  }
}
@media (max-width: 350px) {
  .section-about-me img {
    width: 100%;
  }
}

.section-projects {
  text-align: center;
  position: relative;
  padding: 8rem 5rem;
}
@media (max-width: 1300px) {
  .section-projects {
    padding: 8rem 0;
  }
}
@media (max-width: 1200px) {
  .section-projects {
    padding: 8rem 5rem;
  }
}
@media (max-width: 1100px) {
  .section-projects {
    padding: 8rem 3rem;
  }
}
@media (max-width: 800px) {
  .section-projects {
    padding: 8rem 5rem;
  }
}
@media (max-width: 700px) {
  .section-projects {
    padding: 8rem 2rem;
  }
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 5rem;
  place-items: center;
  margin-top: 5rem;
  position: relative;
}
@media (max-width: 1200px) {
  .projects-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1000px) {
  .projects-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 700px) {
  .projects-container {
    gap: 3rem;
  }
}
@media (max-width: 600px) {
  .projects-container {
    grid-template-columns: 1fr;
    row-gap: 5rem;
  }
}

.project-preview {
  width: 28rem;
  border-radius: 0.8rem;
  transition: transform 0.3s;
}
@media (max-width: 1000px) {
  .project-preview {
    width: 32rem;
  }
}
@media (max-width: 700px) {
  .project-preview {
    width: 30rem;
  }
}
@media (max-width: 600px) {
  .project-preview {
    width: 45rem;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.5);
  }
}
@media (max-width: 500px) {
  .project-preview {
    width: 80%;
  }
}
@media (max-width: 400px) {
  .project-preview {
    width: 85%;
  }
}
.project-preview:hover {
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}
@media (max-width: 1100px) {
  .project-preview:hover {
    box-shadow: none;
    transform: none;
  }
}

.project {
  position: relative;
}

.section-skills {
  padding: 8rem 15rem;
  text-align: center;
  background-color: #151b24;
}
@media (max-width: 1100px) {
  .section-skills {
    padding: 5rem 10rem;
  }
}
@media (max-width: 800px) {
  .section-skills {
    padding: 5rem;
  }
}
@media (max-width: 500px) {
  .section-skills {
    padding: 5rem 0;
  }
}

.technologies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  row-gap: 10rem;
  margin-top: 10rem;
}
@media (max-width: 900px) {
  .technologies {
    margin-top: 6rem;
    row-gap: 6rem;
  }
}

.skill-icon {
  height: 8rem;
}
@media (max-width: 900px) {
  .skill-icon {
    height: 6rem;
  }
}
@media (max-width: 350px) {
  .skill-icon {
    height: 5rem;
  }
}

footer {
  position: relative;
  text-align: center;
  padding: 5rem;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon {
  margin: 0 1rem;
  cursor: pointer;
  transition: transform 0.3s;
}
.social-icon:hover {
  transform: scale(1.2);
}
.social-icon:active {
  transform: scale(1);
}
.social-icon-1 {
  height: 3.5rem;
}
@media (max-width: 600px) {
  .social-icon-1 {
    height: 4rem;
  }
}
.social-icon-2 {
  height: 3rem;
}
@media (max-width: 600px) {
  .social-icon-2 {
    height: 3.5rem;
  }
}

.footer-link:link,
.footer-link:visited {
  border-bottom: 1px solid #fff;
  padding: 1px;
  line-height: 1.2;
}

.copyright {
  margin-top: 2rem;
}
.copyright p:last-of-type {
  margin-top: 1rem;
}

/*# sourceMappingURL=styles.css.map */
