@keyframes zoomOut {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.3);
  }
  20% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
#contact a:nth-of-type(1) {
  animation: zoomOut ease-in-out infinite;
  animation-duration: 2.8s;
}

#contact a:nth-of-type(2) {
  animation: zoomOut ease-in-out infinite;
  animation-duration: 2.8s;
  animation-delay: 0.2s;
}

#contact a:nth-of-type(3) {
  animation: zoomOut ease-in-out infinite;
  animation-duration: 2.8s;
  animation-delay: 0.4s;
}

#contact a:nth-of-type(4) {
  animation: zoomOut ease-in-out infinite;
  animation-duration: 2.8s;
  animation-delay: 0.6s;
}

#contact a:nth-of-type(5) {
  animation: zoomOut ease-in-out infinite;
  animation-duration: 2.8s;
  animation-delay: 0.8s;
}

#contact a:nth-of-type(6) {
  animation: zoomOut ease-in-out infinite;
  animation-duration: 2.8s;
  animation-delay: 1s;
}

#contact a:nth-of-type(7) {
  animation: zoomOut ease-in-out infinite;
  animation-duration: 2.8s;
  animation-delay: 1.2s;
}

.heading {
  display: inline-block;
  color: #FFFFFF;
}
.heading-primary {
  font-size: 6rem;
  font-weight: 600;
}
@media (max-width: 37.5em) {
  .heading-primary {
    font-size: 7rem;
  }
}
.heading-secondary {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 300;
  margin-top: 0.5rem;
}
@media (max-width: 37.5em) {
  .heading-secondary {
    font-size: 2.5rem;
  }
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 37.5em) {
  html {
    font-size: 40%;
  }
}

body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a:link, a:visited {
  display: inline-block;
  text-decoration: none;
  color: #FFFFFF;
}

header {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to right, rgba(120, 77, 255, 0.5), rgba(245, 135, 179, 0.5)), url("../images/background.svg");
  background-size: cover;
  overflow: hidden;
}

.heading-box {
  position: absolute;
  left: 10%;
  top: 20%;
}
@media (max-width: 37.5em) {
  .heading-box {
    left: 5%;
    top: 26%;
  }
  .heading-box h1 {
    margin-top: 2rem;
  }
  .heading-box h2:last-of-type {
    margin-top: -2rem;
  }
}

.heading-1 {
  font-size: 10rem;
  font-family: "Sacramento", cursive;
  font-weight: 600;
}
.heading-2 {
  font-size: 4rem;
  margin-top: -5rem;
  font-weight: 400;
}

.menu {
  position: absolute;
  top: 5%;
  right: 5%;
  padding: 2rem;
  font-size: 5rem !important;
  background-color: #FFFFFF;
  border-radius: 100%;
  cursor: pointer;
  z-index: 5;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
  transition: all 0.3s;
}
.menu:active {
  box-shadow: none;
}
.menu-open {
  opacity: 1;
  visibility: hidden;
}
@media (max-width: 37.5em) {
  .menu-open {
    visibility: visible;
    opacity: 0;
  }
}
.menu-close {
  visibility: hidden;
  opacity: 0;
}

.menu-background {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  position: absolute;
  top: 7%;
  right: 7%;
  transition: all 0.5s;
  background-image: radial-gradient(#784dff, #f587b3);
  visibility: hidden;
}
@media (max-width: 37.5em) {
  .menu-background {
    visibility: visible;
    opacity: 0;
  }
}

.navigation {
  position: absolute;
  top: 4%;
  right: 3%;
}
@media (max-width: 37.5em) {
  .navigation {
    opacity: 0;
    top: 6%;
    right: -30%;
    transition: all 0.3s;
  }
}

.nav {
  list-style: none;
}
.nav-item {
  display: inline-block;
}
.nav-link:link, .nav-link:visited {
  font-size: 1.8rem;
  margin: 2rem 4rem;
  text-transform: uppercase;
  transition: all 0.3s;
}
@media (max-width: 37.5em) {
  .nav-link:link, .nav-link:visited {
    margin: 2rem;
  }
}
.nav-link:hover {
  color: rgba(255, 255, 255, 0.4);
}
.nav-link:active {
  transform: scale(1);
}

.section-about-me {
  position: relative;
  margin: 5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 37.5em) {
  .section-about-me {
    flex-direction: column;
  }
}
.section-about-me img {
  width: 40%;
}
@media (max-width: 37.5em) {
  .section-about-me img {
    width: 90%;
  }
}

.about-me {
  margin: 0;
}
@media (max-width: 37.5em) {
  .about-me {
    margin-top: 5rem;
    text-align: center;
  }
}
.about-me .heading-3 {
  display: inline-block;
  font-size: 6rem;
  font-weight: 400;
  color: #f587b3;
}
@media (max-width: 37.5em) {
  .about-me .heading-3 {
    font-size: 7rem;
  }
}
.about-me .paragraph {
  font-size: 2rem;
  line-height: 1.6;
  font-weight: 400;
  color: #808080;
  margin-top: 3rem;
  width: 45rem;
}
@media (max-width: 37.5em) {
  .about-me .paragraph {
    font-size: 2.5rem;
  }
}

.section-projects {
  width: 100%;
  background-image: linear-gradient(to right, #784dff, #f587b3);
  overflow: hidden;
  margin: 0;
  padding-top: 5rem;
  text-align: center;
  position: relative;
}

.scroller {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(1);
  font-size: 5rem;
  color: #FFFFFF;
  transition: all 0.3s;
  cursor: pointer;
}
@media (max-width: 37.5em) {
  .scroller {
    font-size: 5rem;
  }
}
.scroller:active {
  transform: translateY(-50%) scale(0.8);
}

.l_scroll {
  left: 3%;
}
@media (max-width: 37.5em) {
  .l_scroll {
    left: 2%;
  }
}

.r_scroll {
  right: 3%;
}
@media (max-width: 37.5em) {
  .r_scroll {
    right: 2%;
  }
}

.project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin: 5rem 0 0;
  padding: 0 20% 0;
  transition: all 1s ease-in-out;
  width: 60%;
}
@media (max-width: 37.5em) {
  .project {
    grid-template-columns: none;
    width: 76%;
    margin: 0;
    padding: 0 12% 0;
  }
}
.project-description {
  color: #FFFFFF;
  margin-top: 10rem;
  text-align: left;
}
@media (max-width: 37.5em) {
  .project-description {
    display: none;
  }
}
.project-title {
  font-size: 5rem;
  font-weight: 300;
}
.project-about {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 2rem;
}
.project-button:link, .project-button:visited {
  font-size: 2rem;
  font-weight: 500;
  padding: 1rem 2rem;
  margin-top: 2rem;
  background-color: #FFFFFF;
  border-radius: 10rem;
  color: #784dff;
  transition: all 0.3s;
}
.project-button:hover {
  transform: scale(1.1);
}
.project-button:active {
  transform: scale(1);
}
.project .tech_stack {
  display: inline-block;
  font-size: 1.6rem;
  margin-top: 2rem;
}
.project .tech_stack-icon {
  margin: 0 2px;
  font-size: 2rem;
}
.project-preview {
  height: 50rem;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  margin-bottom: -3px;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.6);
  transition: all 3s;
}
@media (max-width: 37.5em) {
  .project-preview {
    height: auto;
    width: 100%;
    margin-top: 8rem;
  }
}

.section-skills {
  width: 100%;
  padding: 8rem 0;
  background-image: url("../images/pc-background2.jpg");
  background-size: cover;
  background-attachment: fixed;
}
@media (max-width: 37.5em) {
  .section-skills {
    background-image: url("../images/mobile-background.gif");
    background-position: center;
  }
}

.skills-container {
  padding: 5rem 0 3rem;
  margin: 0 10rem;
  backdrop-filter: blur(2rem);
  -webkit-backdrop-filter: blur(2rem);
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.5);
  text-align: center;
  border-radius: 1.5rem;
  transition: all 2s;
}
@media (max-width: 37.5em) {
  .skills-container {
    margin: 0 2rem;
  }
}

@supports not (backdrop-filter: blur(2rem)) {
  .section-skills {
    background-attachment: scroll;
  }

  .skills-container {
    background: inherit;
    overflow: hidden;
  }

  .skills-container::after {
    content: "";
    width: 100vw;
    height: 100vh;
    background: inherit;
    position: absolute;
    left: 0;
    top: 0;
    filter: blur(2rem);
    z-index: 1;
  }

  .skill {
    position: relative;
    z-index: 10;
  }

  .skills-container span {
    position: relative;
    z-index: 10;
  }
}
.skill {
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 4rem 0;
  margin-top: 4rem;
}
@media (max-width: 56.25em) {
  .skill {
    padding: 8rem 0 4rem;
  }
}
@media (max-width: 37.5em) {
  .skill {
    margin: 0 1rem;
  }
}
.skill-icons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
  justify-content: end;
  align-content: center;
  grid-gap: 2rem;
}
@media (max-width: 37.5em) {
  .skill-icons {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0;
    grid-row-gap: 3rem;
  }
}
.skill-icon {
  padding: 1rem;
}
.skill-icon-html {
  width: 8rem;
}
@media (max-width: 37.5em) {
  .skill-icon-html {
    width: 8.5rem;
  }
}
.skill-icon-css {
  width: 10rem;
}
@media (max-width: 37.5em) {
  .skill-icon-css {
    width: 11rem;
  }
}
.skill-icon-js {
  font-size: 8rem;
  color: #f7df1e;
}
@media (max-width: 37.5em) {
  .skill-icon-js {
    font-size: 9rem;
  }
}
.skill-icon-sass {
  width: 10rem;
}
@media (max-width: 37.5em) {
  .skill-icon-sass {
    width: 9rem;
  }
}
.skill-icon-bootstrap {
  width: 12rem;
}
@media (max-width: 37.5em) {
  .skill-icon-bootstrap {
    width: 11rem;
  }
}
.skill-icon-mongodb {
  width: 14rem;
}
@media (max-width: 37.5em) {
  .skill-icon-mongodb {
    width: 13rem;
  }
}
.skill-icon-nodejs {
  width: 15rem;
}
@media (max-width: 37.5em) {
  .skill-icon-nodejs {
    width: 13rem;
  }
}
.skill-icon-react {
  width: 8.5rem;
}
@media (max-width: 37.5em) {
  .skill-icon-react {
    grid-area: 2/2;
  }
}
.skill-icon-redux {
  width: 8rem;
}
@media (max-width: 37.5em) {
  .skill-icon-redux {
    width: 7rem;
  }
}
.skill-icon-git {
  width: 9rem;
}
@media (max-width: 37.5em) {
  .skill-icon-git {
    display: none;
  }
}

footer {
  position: relative;
  background-color: #784dff;
  background-size: cover;
  padding: 3rem;
  text-align: center;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 3.2rem;
  margin: 0 0.6rem;
  transition: all 0.3s;
  border-radius: 3px;
}
@media (max-width: 37.5em) {
  .logo {
    width: 4rem;
  }
}
.logo:hover {
  transform: scale(1.3);
}
.logo-pluralsight {
  width: 3.6rem;
}
@media (max-width: 37.5em) {
  .logo-pluralsight {
    width: 4rem;
  }
}
.logo-discord {
  width: 4rem;
}
@media (max-width: 37.5em) {
  .logo-discord {
    width: 5rem;
  }
}

.social-links {
  padding: 1rem 0;
}

.source-links {
  font-size: 1.3rem;
  font-weight: 500;
  color: #FFFFFF;
  margin-top: 2rem;
}
@media (max-width: 56.25em) {
  .source-links {
    font-size: 1.4rem;
  }
}
@media (max-width: 37.5em) {
  .source-links {
    font-size: 1.8rem;
  }
}
.source-links .footer-link:link, .source-links .footer-link:visited {
  text-decoration: none;
  color: #61dafb;
  display: inline-block;
  transition: all 0.2s;
}
.source-links .footer-link:hover {
  color: #FFFFFF;
}

.copyright {
  margin-top: 2rem;
  padding: 1rem;
  color: #FFFFFF;
  font-size: 1.5rem;
  font-weight: 500;
}
@media (max-width: 37.5em) {
  .copyright {
    font-size: 1.6rem;
  }
}

/*# sourceMappingURL=styles.css.map */
