* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 37.5em) {
  html {
    font-size: 40%;
  }
}

@font-face {
  font-family: "Product-Sans";
  src: url("../fonts/Product Sans Regular.ttf");
}
body {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-family: "Product-Sans";
  background-color: #131820;
  color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

a:link, a:visited {
  display: inline-block;
  text-decoration: none;
  color: #FFFFFF;
}

.nav-link {
  background-image: linear-gradient(to right, #fff, #fff);
  background-repeat: repeat-y;
  background-size: 0;
  padding: 1rem 4rem;
  transition: all 0.4s;
}
.nav-link:hover {
  color: #131820;
  background-size: 100%;
}

.explore-button:link, .explore-button:visited {
  font-size: 2rem;
  display: inline-block;
  margin-top: 5rem;
  padding: 1.5rem 7rem;
  border-radius: 0.5rem;
  background: linear-gradient(264.51deg, #FFE580 4.38%, #FF7571 11.51%, #FF7270 25.06%, #EA5DAD 36.04%, #C2A0FD 47.63%, #9867F0 59.03%, #3BF0E4 69.96%, #33CE43 83.74%, #B2F4B6 95.62%);
  background-position: 58% 50%;
  background-size: 500%;
  transition: all 0.2s linear;
  animation: gradient-shift 15s ease infinite;
}
.explore-button:hover {
  transform: translateY(-5px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.6);
}
.explore-button:active {
  transform: translateY(0);
  box-shadow: none;
}

@keyframes gradient-shift {
  0% {
    background-position: 58% 50%;
  }
  25% {
    background-position: 100% 0%;
  }
  75% {
    background-position: 10% 50%;
  }
  100% {
    background-position: 58% 50%;
  }
}
.heading-primary {
  font-size: 5rem;
  font-weight: 400;
}
.heading-secondary {
  font-size: 1.8rem;
  font-weight: 300;
}

header {
  position: relative;
  padding: 5rem;
  text-align: center;
}

nav {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 0;
}

.nav-link {
  margin: 0 2rem;
  font-size: 1.4rem;
}

.hero-heading {
  margin-top: 12rem;
}

.code {
  fill: #fff;
  height: 7rem;
  vertical-align: middle;
}

.heading {
  color: #fff;
}
.heading-1 {
  font-size: 10rem;
  font-family: "Sacramento", cursive;
  font-weight: 600;
}
.heading-2 {
  font-size: 4rem;
  font-weight: 400;
}

.section-about-me {
  position: relative;
  margin: 5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 37.5em) {
  .section-about-me {
    flex-direction: column;
  }
}
.section-about-me img {
  width: 40%;
}
@media (max-width: 37.5em) {
  .section-about-me img {
    width: 90%;
  }
}

.about-me {
  margin: 0;
}
@media (max-width: 37.5em) {
  .about-me {
    margin-top: 5rem;
    text-align: center;
  }
}
.about-me .heading-3 {
  display: inline-block;
  font-size: 6rem;
  font-weight: 400;
  color: #f587b3;
}
@media (max-width: 37.5em) {
  .about-me .heading-3 {
    font-size: 7rem;
  }
}
.about-me .paragraph {
  font-size: 2rem;
  line-height: 1.6;
  font-weight: 400;
  color: #808080;
  margin-top: 3rem;
  width: 45rem;
}
@media (max-width: 37.5em) {
  .about-me .paragraph {
    font-size: 2.5rem;
  }
}

.section-projects {
  width: 100%;
  background-color: #151b24;
  overflow: hidden;
  text-align: center;
  position: relative;
}

.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 5rem;
  justify-items: center;
}

.project-preview {
  width: 60rem;
  border-radius: 1rem;
  transition: all 3s;
  box-shadow: 0 2px 1.2rem rgba(0, 0, 0, 0.5);
}

.section-skills {
  background-image: url("../images/pc-background.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.skills-container {
  padding: 5rem 0 3rem;
  margin: 0 10rem;
  backdrop-filter: blur(1.5rem);
  -webkit-backdrop-filter: blur(1.5rem);
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.5);
  text-align: center;
  border-radius: 1rem;
  transition: all 2s;
}

@supports not (backdrop-filter: blur(1.5rem)) {
  .section-skills {
    background-attachment: scroll;
  }

  .skills-container {
    background: inherit;
    overflow: hidden;
  }

  .skills-container::after {
    content: "";
    width: 115%;
    height: 115%;
    background: inherit;
    position: absolute;
    left: -5rem;
    top: -5rem;
    filter: blur(1.5rem);
    z-index: 1;
  }

  .skill {
    position: relative;
    z-index: 10;
  }

  .skills-container span {
    position: relative;
    z-index: 10;
  }
}
.skill {
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 4rem 0;
  margin-top: 4rem;
}
.skill-icons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
  justify-content: end;
  align-content: center;
  grid-gap: 2rem;
}
.skill-icon {
  padding: 1rem;
}
.skill-icon-html {
  width: 8rem;
}
@media (max-width: 37.5em) {
  .skill-icon-html {
    width: 8.5rem;
  }
}
.skill-icon-css {
  width: 10rem;
}
@media (max-width: 37.5em) {
  .skill-icon-css {
    width: 11rem;
  }
}
.skill-icon-js {
  font-size: 8rem;
  color: #f7df1e;
}
@media (max-width: 37.5em) {
  .skill-icon-js {
    font-size: 9rem;
  }
}
.skill-icon-sass {
  width: 10rem;
}
@media (max-width: 37.5em) {
  .skill-icon-sass {
    width: 9rem;
  }
}
.skill-icon-bootstrap {
  width: 12rem;
}
@media (max-width: 37.5em) {
  .skill-icon-bootstrap {
    width: 11rem;
  }
}
.skill-icon-mongodb {
  width: 14rem;
}
@media (max-width: 37.5em) {
  .skill-icon-mongodb {
    width: 13rem;
  }
}
.skill-icon-nodejs {
  width: 15rem;
}
@media (max-width: 37.5em) {
  .skill-icon-nodejs {
    width: 13rem;
  }
}
.skill-icon-react {
  width: 8.5rem;
}
@media (max-width: 37.5em) {
  .skill-icon-react {
    grid-area: 2/2;
  }
}
.skill-icon-redux {
  width: 8rem;
}
@media (max-width: 37.5em) {
  .skill-icon-redux {
    width: 7rem;
  }
}
.skill-icon-git {
  width: 9rem;
}
@media (max-width: 37.5em) {
  .skill-icon-git {
    display: none;
  }
}

footer {
  position: relative;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 3.2rem;
  margin: 0 0.6rem;
  transition: all 0.3s;
  border-radius: 3px;
}
@media (max-width: 37.5em) {
  .logo {
    width: 4rem;
  }
}
.logo:hover {
  transform: scale(1.3);
}
.logo-pluralsight {
  width: 3.6rem;
}
@media (max-width: 37.5em) {
  .logo-pluralsight {
    width: 4rem;
  }
}
.logo-discord {
  width: 4rem;
}
@media (max-width: 37.5em) {
  .logo-discord {
    width: 5rem;
  }
}

.social-links {
  padding: 1rem 0;
}

.source-links {
  font-size: 1.3rem;
  font-weight: 500;
  color: #FFFFFF;
  margin-top: 2rem;
}
@media (max-width: 56.25em) {
  .source-links {
    font-size: 1.4rem;
  }
}
@media (max-width: 37.5em) {
  .source-links {
    font-size: 1.8rem;
  }
}
.source-links .footer-link:link, .source-links .footer-link:visited {
  text-decoration: none;
  color: #61dafb;
  display: inline-block;
  transition: all 0.2s;
}
.source-links .footer-link:hover {
  color: #FFFFFF;
}

.copyright {
  margin-top: 2rem;
  padding: 1rem;
  color: #FFFFFF;
  font-size: 1.5rem;
  font-weight: 500;
}
@media (max-width: 37.5em) {
  .copyright {
    font-size: 1.6rem;
  }
}

/*# sourceMappingURL=styles.css.map */
