header {
    position: relative;
    height: max(96vh, 60rem);
    overflow-x: hidden;
    padding: 3rem;
    text-align: center;

    @include respond(600px) {
        height: max(92vh, 60rem);
    }
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar {
    transition: all .4s;

    @include respond(1000px) {
        transform: translateX(200%);
        opacity: 0;
    }
}

.nav-link {
    padding: 1.5rem 5rem;

    &:not(:last-of-type) {
        margin-right: 2rem;
    }

    @include respond(1000px) {
        padding: 0;

        &:not(:last-of-type) {
            margin-right: 6rem;
        }

        &:hover{
            color: #fff;
            background-size: 0;
        }
    }

    @include respond(400px) {
        &:not(:last-of-type) {
            margin-right: 3rem;
        }
    }
}

.menu-button {
    position: relative;
    height: 6rem;
    width: 6rem;
    margin-left: 4rem;
    border-radius: 100%;
    transition-delay: .2s;
    transition: all .3s;
    display: none;

    @include respond(1000px) {
        display: inline-block;
    }

    &::before {
        top: 40%;
    }

    &::after {
        top: 60%;
    }
}

.menu-button::before,
.menu-button::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2px;
    width: 4rem;
    background-color: #fff;
    transition: all .5s;
}

.menu-open {
    &::before, &::after {
        width: 3rem;
        top: 50%;
    }

    &::before {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }
}

.navbar-open {
    transform: translateY(0);
    opacity: 1;
}

.hero-heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    width: calc(100% - 6rem);

    @include respond(600px) {
        transform: translate(-50%, -50%);
    }
}

.code {
    fill: #fff;
    height: 6rem;
    vertical-align: middle;
}

.contact-button {
    @include respond(600px) {
        font-size: 2.2rem;
        padding: 2.4rem 8rem;
    }
}
