header {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right, rgba($color-dark-purple, .5), rgba($color-light-purple, .5)), url("../images/background.svg");
    background-size: cover;
    overflow: hidden;
}

.heading-box {
    position: absolute;
    left: 10%;
    top: 20%;
    @include respond(mobile){
        left: 5%;
        top: 26%;

        h1{
            margin-top: 2rem;
        }

        h2:last-of-type{
            margin-top: -2rem;
        }
    }
}

.heading {

    &-1 {
        font-size: 10rem;
        font-family: 'Sacramento', cursive;
        font-weight: 600;
    }

    &-2 {
        font-size: 4rem;
        margin-top: -5rem;
        font-weight: 400;
    }
}

.menu {
    position: absolute;
    top: 5%;
    right: 5%;
    padding: 2rem;
    font-size: 5rem !important;
    background-color: $color-white;
    border-radius: 100%;
    cursor: pointer;
    z-index: 5;
    box-shadow: 0 2px 6px rgba($color-black, .6);
    transition: all 0.3s;

    &:active {
        box-shadow: none;
    }

    &-open {
        opacity: 1;
        visibility: hidden;

        @include respond(mobile){
            visibility: visible;
            opacity: 0;
        }
    }

    &-close {
        visibility: hidden;
        opacity: 0;
    }
}

.menu-background {
    width: 5rem;
    height: 5rem;
    border-radius: 100%;
    position: absolute;
    top: 7%;
    right: 7%;
    transition: all .5s;
    background-image: radial-gradient($color-dark-purple, $color-light-purple);
    visibility: hidden;

    @include respond(mobile) {
        visibility: visible;
        opacity: 0;
    }
}

.navigation {
    position: absolute;
    top: 4%;
    right: 3%;
    @include respond(mobile) {
        opacity: 0;
        top: 6%;
        right: -30%;
        transition: all .3s;
    }
}

.nav {
    list-style: none;

    &-item {
        display: inline-block;
    }

    &-link {
        &:link,
        &:visited {
            font-size: 1.8rem;
            margin: 2rem 4rem;
            text-transform: uppercase;
            transition: all 0.3s;
            @include respond(mobile) {
                margin: 2rem;
            }
        }

        &:hover {
            color: rgba($color-white, .4);
        }

        &:active {
            transform: scale(1);
        }
    }
}
