.section-about-me {
    background-color: $background-light;
    display: flex;
    align-items: center;
    column-gap: 10rem;
    padding: 6rem 10rem;
    // transform: translateX(300px);

    @include respond(1100px){
        column-gap: 8rem;
        padding: 6rem;
    }

    @include respond(800px){
        column-gap: 4rem;
        padding: 4rem;
    }    

    @include respond(700px){
        flex-direction: column;
        row-gap: 6rem;
        padding-block: 8rem 10rem;
    }

    @include respond(500px){
        padding-inline: 3rem;
    }

    @include respond(400px){
        padding-block: 8rem;
        row-gap: 4rem;
    }

    img{
        width: 36rem;
        border-radius: 6px;

        @include respond(700px){
            width: 80%;
        }
        
        @include respond(500px){
            width: 95%;
        }

        @include respond(400px){
            width: 100%;
        }
    }
}
