.section-about-me {
    position: relative;
    padding: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $background-light;

    @include respond(1100px){
        justify-content: space-between;
    }

    @include respond(1000px){
        padding: 10rem 5rem;
    }

    @include respond(900px){
        flex-direction: column;
        padding: 8rem 3rem 10rem;
    }

    @include respond(400px){
        padding: 8rem 2rem 10rem;
    }

    img{
        width: 30rem;
        border-radius: 0.8rem;

        @include respond(900px){
            width: 40rem;
            margin-top: 5rem;
        }
        
        @include respond(350px){
            width: 35rem;
        }
    }
}

.about-me h1{
    @include respond(900px){
        text-align: center;
    }
}