#section-contact {
    position: relative;
    text-align: center;
    padding: 5rem;

    .footer-link:link,
    .footer-link:visited {
        border-bottom: 1px solid #fff;
        padding: 1px;
        line-height: 1.2;
    }

    .copyright {
        margin-top: 1.2rem;
    
        p:last-of-type {
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 3px;
            margin-top: 1.2rem;
    
            svg {
                fill: #fff;
                height: 1.6rem;
            }
        }
    }

    .social-links {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .social-icon {
        height: 2.5rem;
        margin: 0 1rem;
        cursor: pointer;

        &.gmail {
            width: 2.6rem;
        }

        @include respond(600px) {
            height: 3rem;
        }
    }
}
