footer {
    position: relative;
    text-align: center;
    padding: 5rem;
}

.social-links{
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icon{
    margin: 0 1rem;
    cursor: pointer;
    transition: transform .3s;

    &:hover{
        transform: scale(1.2);
    }

    &:active{
        transform: scale(1);
    }

    &-1{
        height: 3.5rem;
        @include respond(600px){
            height: 4rem;
        }
    }

    &-2{
        height: 3rem;
        @include respond(600px){
            height: 3.5rem;
        }
    }
}

.footer-link:link,
.footer-link:visited{
    border-bottom: 1px solid #fff;
    padding: 1px;
    line-height: 1.2;
}

.copyright {
    margin-top: 2rem;

    p:last-of-type{
        margin-top: 1rem;
    }
}