.section-projects{
    width: 100%;
    background-image: linear-gradient(to right, $color-dark-purple, $color-light-purple);
    overflow: hidden;
    margin: 0;
    padding-top: 5rem;
    text-align: center;
    position: relative;
}

.scroller{
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(1);
    font-size: 5rem;
    color: $color-white;
    transition: all .3s;
    cursor: pointer;
    // box-shadow: 0 2px 6px rgba($color-black, .6);

    &:active{
        transform: translateY(-50%) scale(.8);
    }
}

.l_scroll{
    left: 3%;
}

.r_scroll{
    right: 3%;
}

.project{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin: 5rem 0 0;
    padding: 0 20% 0;
    transition: all 1s ease-in-out;
    width: 60%;

    @include respond(mobile){
        grid-template-columns: none;
        grid-template-rows: .1fr .9fr;
        margin: 0;
        padding: 0 10% 0;
        width: 80%;
        grid-row-gap: 5rem;
    }

    &-description{
        color: $color-white;
        margin-top: 10rem;
        text-align: left;
        @include respond(mobile){
            margin-top: 10rem;
        }
    }

    &-title{
        font-size: 5rem;
        font-weight: 300;
        @include respond(mobile){
            font-size: 4rem;
        }
    }

    &-about{
        font-size: 2rem;
        font-weight: 300;
        margin-top: 2rem;
        @include respond(mobile){
            font-size: 2.2rem;
        }
    }

    &-button{
        &:link,
        &:visited{
            font-size: 2rem;
            font-weight: 500;
            padding: 1rem 2rem;
            margin-top: 2rem;
            background-color: $color-white;
            border-radius: 10rem;
            color: $color-dark-purple;
            transition: all .3s;
            @include respond(mobile){
                font-size: 2.5rem;
            }
        }

        &:hover{
            transform: scale(1.1);
        }

        &:active{
            transform: scale(1);
        }
    }

    .tech_stack{
        display: inline-block;
        font-size: 1.6rem;
        margin-top: 2rem;

        @include respond(mobile){
            font-size: 2.2rem;
        }

        &-icon{
            margin: 0 2px;
            font-size: 2rem;
            @include respond(mobile){
                font-size: 2.5rem;
            }
        }
    }

    &-snap{
        height: 50rem;
        border-top-right-radius: 2rem;
        border-top-left-radius: 2rem;
        box-shadow: 0 1rem 4rem rgba($color-black, .6);
        margin-bottom: -3px;
        transition: all 3s;
        @include respond(mobile){
            height: 60rem;
            margin-top: 5rem;
        }
    }
}
