.section-projects{
    text-align: center;
    padding: 6rem 4rem 18rem;
    position: relative;
    // transform: translateX(-300px);

    @include respond(800px) {
        padding: 6rem 3rem 18rem;
    }
}

.projects-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem 3rem;
    place-items: center;
    margin-top: 5rem;

    @include respond(1200px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @include respond(1000px) {
        grid-template-columns: 1fr 1fr;
    }

    @include respond(700px) {
        gap: 3rem;
    }

    @include respond(600px) {
        grid-template-columns: 1fr;
        row-gap: 4rem;
    }
}

.project {
    position: relative;

    .project-preview:hover ~ .project-info,
    .project-info:hover {
        opacity: 1;
        z-index: 10;
    }
}

.project-preview{
    width: 100%;
    border-radius: 5px;
    transition: transform .3s;

    @include respond(1000px) {
        width: 34rem;
    }

    @include respond(700px) {
        width: 100%;
    }

    @include respond(600px) {
        width: 42rem;
    }

    @include respond(400px) {
        width: 100%;
    }
}

.project-info {
    cursor: default;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom right, #3F5EFB, #FC466B);
    border-radius: 5px;
    padding: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;

    @include respond(600px) {
        padding: 4rem;
    }

    .project-title {
        font-size: 4rem;
        font-weight: 400;

        @include respond(600px) {
            font-size: 4.5rem;
        }
    }

    .project-description {
        font-size: 2rem;
        margin-top: 1rem;

        @include respond(600px) {
            font-size: 2.4rem;
        }
    }

    .project-stack {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;

        b {
            font-size: 2rem;
            font-weight: 500;
            margin-right: 1rem;

            @include respond(600px) {
                font-size: 2.4rem;
            }
        }

        svg {
            fill: #fff;
            height: 2.5rem;
            margin-right: 1rem;

            @include respond(600px) {
                height: 3.5rem;
            }
        }
    }

    .project-timeline {
        font-size: 1.6rem;
        margin-top: 2rem;

        @include respond(600px) {
            font-size: 2.2rem;
        }
    }

    .project-link:link,
    .project-link:visited {
        border: 2px solid #fff;
        border-radius: 10rem;
        font-size: 2rem;
        padding: 1rem;
        margin: 2rem auto 0;
        width: 90%;

        @include respond(600px) {
            font-size: 2.2rem;
            padding: 1.6rem;
            margin-top: 4rem;
        }
    }

    .project-link:hover {
        color: #444e5f;
    }
}

.show-more {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 10rem;
    cursor: pointer;
    display: flex;
    column-gap: 1.4rem;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    font-size: 2rem;
    height: 6rem;
    padding: 0 3.4rem;
    position: absolute;
    left: 50%;
    bottom: 6rem;
    transform: translateX(-50%);

    @include respond(600px) {
        height: 7rem;
        bottom: 5.5rem;
        font-size: 2.2rem;
    }

    &:hover {
        svg {
            fill: $background-dark;
        }
    }

    svg {
        fill: #fff;
        height: 1.8rem;
        transition: transform 0.2s, fill 0.4s;
    }

    span:nth-of-type(2) {
        display: none;
    }
}

// Handled via JavaScript
.hide-project {
    display: none;
}

.projects-visible {
    svg {
        transform: rotate(180deg);
    }

    span:nth-of-type(1) {
        display: none;
    }

    span:nth-of-type(2) {
        display: inline;
    }
}
