.nav-link{
    font-size: 1.6rem;

    @include respond(600px){
        font-size: 1.8rem;
    }

    @include respond(350px){
        font-size: 1.6rem;
    }
}

.heading-primary {
    font-size: 5rem;
    font-weight: 400;
}

.section-about-me h1,
.section-projects h1{
    @include respond(600px){
        font-size: 5.5rem;
    }
}

.section-skills h1{
    @include respond(400px){
        font-size: 4.5rem;
    }
}

.paragraph {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.8rem;
    line-height: 1.8;
    text-align: left;
    margin-top: 2rem;

    @include respond(600px){
        font-size: 2.2rem;
    }
    
    @include respond(400px){
        font-size: 2rem;
    }
}

.section-about-me h1,
.paragraph{
    @include respond(800px){
        text-align: center;
    }
}

.copyright{
    font-size: 1.2rem;

    @include respond(600px){
        font-size: 1.4rem;
    }
}

.gradient-text {
    background: linear-gradient(264.51deg,
            #FFE580 4.38%, #FF7571 11.51%,
            #FF7270 25.06%, #EA5DAD 36.04%,
            #C2A0FD 47.63%, #9867F0 59.03%,
            #3BF0E4 69.96%, #33CE43 83.74%,
            #B2F4B6 95.62%);
    background-position: 58% 50%;
    background-size: 500%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-animation: gradient-shift 30s ease infinite;
    animation: gradient-shift 30s ease infinite;
    color: transparent;
}