@font-face {
    font-family: "Glacial Indifference";
    src: url("../font/Glacial Indifference Regular.otf");
}

body {
    font-family: 'Glacial Indifference', sans-serif;
}

.nav-link {
    font-size: 1.6rem;

    @include respond(600px) {
        font-size: 1.8rem;
    }

    @include respond(350px) {
        font-size: 1.6rem;
    }
}

.heading-primary {
    font-size: 5rem;
    font-weight: 400;
}

#section-about-me h1,
#section-projects h1 {
    @include respond(600px) {
        font-size: 5.5rem;
    }
}

#section-skills h1 {
    @include respond(400px) {
        font-size: 4.5rem;
    }
}

.paragraph {
    color: rgba($color: #fff, $alpha: 0.8);
    font-size: 2rem;
    text-align: left;
    margin-top: 2rem;

    @include respond(600px) {
        font-size: 2.2rem;
    }
}

#section-about-me h1, .paragraph {
    @include respond(700px){
        text-align: center;
    }
}

.copyright {
    font-size: 1.2rem;

    @include respond(600px) {
        font-size: 1.6rem;
    }
}

.gradient-text {
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    &.gradient-pink {
        background-image: $gradient-pink;
    }

    &.gradient-blue {
        background-image: $gradient-blue;
    }

    &.gradient-orange {
        background-image: $gradient-orange;
    }
}
