// Navbar links
.nav-link {
    background-image: linear-gradient(to right, #fff, #fff);
    background-repeat: repeat-y;
    background-size: 0;
    padding: 1.5rem 5rem;
    margin: 0 1rem;
    transition: all .5s;

    &:hover {
        color: $background-dark;
        background-size: 100%;
    }

    @include respond(1200px){
        padding: 0;
        margin: 0 4rem;

        &:hover{
            color: #fff;
            background-size: 0;
        }
    }

    @include respond(800px){
        margin: 0 3rem;
    }

    @include respond(500px){
        margin: 0 2rem;
    }
}

// Explore button
.explore-button{
    position: relative;
    font-size: 2rem;
    margin-top: 5rem;
    padding: 2rem 8rem;
    cursor: pointer;
}

.explore-button::after {
    content: "";
    height: 95%;
    width: 95%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    filter: blur(3rem);
    opacity: 0.8;
}

.explore-button,
.explore-button::after {
    display: inline-block;
    color: rgba(255, 255, 255, 0.9);
    border-radius: 10rem;
    background: linear-gradient(-45deg, #ffa63d, #ff3d77, #338aff, #3cf0c5);
    background-size: 600%;
    -webkit-animation: gradient-animation 16s linear infinite;
    animation: gradient-animation 16s linear infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}