// Links with background effect
.rising-background{
    background-image: linear-gradient(to right, #fff, #fff);
    background-size: 0 0;
    background-position: 0 100%;
    background-repeat: repeat-x;
    transition: all .4s;

    &:hover {
        color: $background-dark;
        background-size: 100% 100%;
    }
}

// Explore button
.explore-button{
    position: relative;
    font-size: 2rem;
    margin-top: 5rem;
    padding: 2rem 8rem;
    cursor: pointer;
}

.explore-button::after {
    content: "";
    height: 95%;
    width: 95%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    filter: blur(3rem);
    opacity: 0.8;
}

.explore-button,
.explore-button::after {
    display: inline-block;
    color: rgba(255, 255, 255, 0.9);
    border-radius: 10rem;
    background: linear-gradient(-45deg, #ffa63d, #ff3d77, #338aff, #3cf0c5);
    background-size: 600%;
    -webkit-animation: gradient-animation 16s linear infinite;
    animation: gradient-animation 16s linear infinite;
}

// Skeleton screen
.skeleton-background::before,
.skeleton-background::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 0.8rem;
    top: 0;
    left: 0;
}

.skeleton-background::before{
    z-index: 10;
    background-color: $background-lighter;
    animation: shimmer 2s infinite linear;
}

.skeleton-background::after{
    z-index: 5;
    background-color: $background-dark;
    box-shadow: 0 2px 12px rgba($color: #000, $alpha: 0.5);
}