// Navbar links
.nav-link{
    background-image: linear-gradient(to right, #fff, #fff);
    background-repeat: repeat-y;
    background-size: 0;
    padding: 1.5rem 5rem;
    margin: 0 1rem;
    font-size: 1.4rem;
    transition: all .5s;

    &:hover{
        color: $background-dark;
        background-size: 100%;
    }
}

// Explore button
.explore-button {
    &:link,
    &:visited {
        font-size: 2rem;
        display: inline-block;
        margin-top: 5rem;
        padding: 1.5rem 7rem;
        border-radius: 0.5rem;
        background: linear-gradient(240deg,
                #FFE580 4.38%, #FF7571 11.51%,
                #FF7270 25.06%, #EA5DAD 36.04%,
                #C2A0FD 47.63%, #9867F0 59.03%,
                #3BF0E4 69.96%, #33CE43 83.74%,
                #B2F4B6 95.62%);
        background-position: 58% 50%;
        background-size: 500%;
        transition: all .2s linear;
        animation: gradient-shift 15s ease infinite;
    }

    &:hover{
        transform: translateY(-5px);
        box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: 0.6);
    }

    &:active{
        transform: translateY(0);
        box-shadow: none;
    }
}

@keyframes gradient-shift {
    0% {
        background-position: 58% 50%;
    }

    25% {
        background-position: 100% 0%;
    }

    75% {
        background-position: 10% 50%;
    }

    100% {
        background-position: 58% 50%;
    }
}