// Background Colors
$color-purple-light: #8E2DE2;
$color-purple-dark: #4A00E0;
$color-purple-shade: #9900e0;

$color-blue-light: #0ff;
$color-blue-dark: #00f;

$color-new-1: #0257cb;
$color-new-2: #a914c0;

$color-purple-dark-1: #8a00d4;
$color-purple-dark-2: #6915cf;

$color-sublime-light: #FC466B;
$color-sublime-dark: #3F5EFB;

$color-black: #000;
$color-white: #FFFFFF;
$color-gray: #808080;
$color-gray-light: #D3D3D3;
$color-gray-dark: #A9A9A9;

$color-green-light: #7ed56f;
$color-green-dark: #28b485;

// $color-orange-1: #f44336;
// $color-orange-2: #ff4b1f;
// $color-orange-3: #FFC371;
// $color-orange-4: #FF5F6D;
$color-orange-1: #f08a5d;
$color-orange-2: #FFC371;
$color-orange-3: #e84a5f;
$color-orange-4: #fdd365;

// Icon Colors
$bootstrap-purple-1: #7c14f7;
$bootstrap-purple-2: #8c14fb;
$javascript-yellow: #f7df1e;
$html-orange-1: #e34c26;
$html-orange-2: #f06529;
$css-blue-1: #264de4;
$css-blue-2: #2965f1;
$node-green-dark: #25742c;
$node-green-light: #83cd29;
$react-blue: #61dbfb;
$sass-pink: #cd6799;
$vue-green: #42b883;
$vue-green-dark: #35495e;
$linkedin-color: #0e76a8;
$stack-orange: #F48024;
