// Color variables
$background-dark: #131820;
$background-light: #1b222d;
$gradient-pink: linear-gradient(to right, #16bffd, #cb3066);
$gradient-orange: linear-gradient(to right, #ff5f6d, #ffc371);
$gradient-blue: linear-gradient(to right, #00f260, #0575e6);
