* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;

    @include respond(1600px) {
        font-size: 75%;
    }

    @include respond(600px) {
        font-size: 50%;
    }

    @include respond(320px) {
        font-size: 45%;
    }
}

@font-face{
    font-family: "Product-Sans";
    src: url("../fonts/Product Sans Regular.ttf");
}

body {
    font-family: "Product-Sans";
    background-color: $background-dark;
    color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

a {
    &:link,
    &:visited {
        display: inline-block;
        text-decoration: none;
        color: #fff;
    }
}

p{
    line-height: 1.6;
}