* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;

    @include respond(1600px) {
        font-size: 75%;
    }

    @include respond(900px) {
        font-size: 55%;
    }

    @include respond(600px) {
        font-size: 50%;
    }

    @include respond(320px) {
        font-size: 45%;
    }
}

body {
    background-color: $background-dark;
    color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    scrollbar-color: #8d99ae #444e5f;

    &::-webkit-scrollbar {
        width: 1.2rem;
    }

    &::-webkit-scrollbar-track {
        background-color: #444e5f;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #8d99ae;
        border: 3px solid #444e5f;
        border-radius: 1rem;
    }
}

main {
    overflow: hidden;
}

a:link, a:visited {
    display: inline-block;
    text-decoration: none;
    color: #fff;
}

p {
    line-height: 1.6;
}
