@keyframes zoomOut {
    0%{
        transform: scale(1);
    }

    10%{
        transform: scale(1.3);
    }

    20%{
        transform: scale(1);
    }

    100%{
        transform: scale(1);
    }
}

#contact a:nth-of-type(1){
    animation: zoomOut ease-in-out infinite;
    animation-duration: 2.8s;
}

#contact a:nth-of-type(2){
    animation: zoomOut ease-in-out infinite;
    animation-duration: 2.8s;
    animation-delay: .2s;
}

#contact a:nth-of-type(3){
    animation: zoomOut ease-in-out infinite;
    animation-duration: 2.8s;
    animation-delay: .4s;
}

#contact a:nth-of-type(4){
    animation: zoomOut ease-in-out infinite;
    animation-duration: 2.8s;
    animation-delay: .6s;
}

#contact a:nth-of-type(5){
    animation: zoomOut ease-in-out infinite;
    animation-duration: 2.8s;
    animation-delay: .8s;
}

#contact a:nth-of-type(6){
    animation: zoomOut ease-in-out infinite;
    animation-duration: 2.8s;
    animation-delay: 1s;
}

#contact a:nth-of-type(7){
    animation: zoomOut ease-in-out infinite;
    animation-duration: 2.8s;
    animation-delay: 1.2s;
}
