.section-skills {
    padding: 8rem 15rem;
    text-align: center;
    background-color: $background-light;
    // transform: translateX(300px);

    @include respond(1100px){
        padding: 5rem 10rem;
    }

    @include respond(800px){
        padding: 5rem;
    }

    @include respond(500px){
        padding: 5rem 0;
    }
}

.technologies{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    row-gap: 10rem;
    margin-top: 10rem;

    @include respond(900px){
        margin-top: 6rem;
        row-gap: 6rem;
    }
}

.skill-icon{
    height: 8rem;

    @include respond(900px){
        height: 6rem;
    }

    @include respond(350px){
        height: 5rem;
    }
}

.typescript {
    border-radius: 5px;
}

.vue, .tailwind {
    height: 7rem;

    @include respond(900px){
        height: 5rem;
    }

    @include respond(350px){
        height: 4rem;
    }
}
