.section-skills {
    width: 100%;
    padding: 10rem 0;
    background-image: url("../images/pc-background.jpg");
    background-size: cover;
    background-attachment: fixed;
    @include respond(mobile){
        background-image: url("../images/mobile-background.jpg");
        padding: 8rem 0;
    }
}

.skills-container {
    position: relative;
    padding: 5rem 0 3rem;
    margin: 0 8rem;
    backdrop-filter: blur(2rem);
    -webkit-backdrop-filter: blur(2rem);
    box-shadow: 0 0 10px rgba($color-black, .3);
    text-align: center;
    border-radius: 1.5rem;
    transition: all 2s;

    @include respond(mobile){
        margin: 0 2rem;
    }
}

@supports not (backdrop-filter: blur(2rem)) {

    .section-skills{
        background-attachment: scroll;
    }

    .skills-container{
        background: inherit;
        overflow: hidden;
    }

    .skills-container::after {
        content: '';
        width: 100vw;
        height: 100vh;
        background: inherit;
        position: absolute;
        left: 0;
        top: 0;
        filter: blur(2rem);
        z-index: 1;
    }

    .skill{
        position: relative;
        z-index: 10;
    }

    .skills-container span{
        position: relative;
        z-index: 10;
    }
}

.skill {
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 6rem;
    margin-top: 4rem;

    @include respond(tab-port){
        padding: 8rem 0 4rem;
    }

    @include respond(mobile){
        margin: 0 1rem;
    }

    &-icons {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        place-items: center;
        justify-content: end;
        align-content: center;
        grid-gap: 3rem;

        @include respond(mobile){
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 0;
            grid-row-gap: 3rem;
        }
    }

    &-icon {
        padding: 1rem;

        &-html{
            width: 8rem;
            @include respond(mobile){
                width: 8.5rem;
            }
        }

        &-css{
            width: 10rem;
            @include respond(mobile){
                width: 11rem;
            }
        }

        &-js {
            font-size: 8rem;
            color: #f7df1e;
            @include respond(mobile){
                font-size: 9rem;
            }
        }

        &-sass{
            width: 10rem;
        }

        &-bootstrap{
            width: 12rem;
        }

        &-mongodb{
            width: 14rem;
        }

        &-nodejs {
            width: 15rem;
            @include respond(mobile){
                width: 13rem;
            }
        }

        &-react{
            width: 8.5rem;
            @include respond(mobile){
                grid-area: 2 / 2;
            }
        }

        &-redux{
            width: 8rem;
        }

        &-git{
            width: 9rem;
            @include respond(mobile){
                display: none;
            }
        }
    }
}
