.section-skills {
    padding: 6rem 12rem 8rem;
    text-align: center;
    background-color: $background-light;
    // transform: translateX(300px);

    @include respond(1100px){
        padding-inline: 10rem;
    }

    @include respond(800px){
        padding-inline: 6rem;
    }

    @include respond(500px){
        padding-inline: 1rem;
    }
}

.technologies{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    row-gap: 12rem;
    margin-top: 8rem;

    @include respond(800px){
        margin-top: 6rem;
        row-gap: 8rem;
    }

    @include respond(600px){
        margin-top: 4rem;
        row-gap: 6rem;
    }
}

.skill-icon{
    height: 8rem;

    @include respond(900px){
        height: 7rem;
    }

    @include respond(400px){
        height: 6rem;
    }
}

.react:hover {
    animation: easter-egg infinite linear 4s;
}

.typescript {
    border-radius: 5px;
}

.vue {
    height: 7rem;

    @include respond(900px){
        height: 6rem;
    }

    @include respond(400px){
        height: 5rem;
    }
}
